<div class="col-md">
  <h1 class="title"><%= "Posts de #{@topic.title}" %></h1>
  <% @topic.get_posts_desc.each do |post| %>
    <%= render 'posts/components/post_preview', :post => post %>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to "Crear nuevo Post", new_topic_post_path(@topic), :class => "button btn btn-dark post-btn" %>
  <% end %>
</div>
