<p id="notice"><%= notice %></p>

<%= render 'posts/components/post', post: @post %>
<%= link_to "Editar Post", edit_post_path(@post), :class => "button btn btn-dark post-btn", :style => "margin-left: 10%" %>
