html,
body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}
a,
a:visited {
  color: white !important;
  text-decoration: none;
}
#logo {
  font-size: 1.6em;
  font-weight: bold;
}
.no-margin {
  margin-top: 0px;
  margin: 0px;
}
.be-red {
  background-color: #e74c3c;
}
.white {
  color: #ecf0f1;
}
.large-padding {
  padding: 7px 5px;
}
.nav-height {
  height: 75px;
}
.post-preview-border {
  background-color: rgb(235, 235, 235);
  border-radius: 7px;
  margin-left: 5%;
  margin-right: 30%;
  margin-bottom: 1em;
  margin-top: 1em;
}
.post-btn {
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 17px;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.post-border {
  margin-left: 10%;
  margin-bottom: 1em;
  margin-top: 1em;
}

.center-content {
  margin: 0 auto;
}

.form-area-size {
  width: 75%;
  margin-left: 12.5% !important;
}

.title {
  margin-top: 1em;
  margin-bottom: 1em;
}

.alert-style {
  margin-top: 2%;
  margin-left: 35%;
  margin-right: 35%;
  text-align: center;
  justify-content: center;
}

.posts-area {
  width: 33.3333333333%;
}

.center-btn-create {
  margin-left: 17.4% !important;
}

.put-right {
  right: 5%;
}